*{
    margin: 0;
    padding: 0;
}
.contenedor{
    max-width: 100%;
    height: 625px;    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #EBEFF4;
    
}
.cajacomentarios{
    width:40%;
    height: 350px;
    /* border:1px red solid; */
    display: flex;
    flex-direction: column;
    box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
}
.size{
    width: 100%;
    /* border:1px red solid; */
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #293A47;
}
#imguser{
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#nombre{
    text-align: center;
}
#comentario{
    text-align: center;
}
#boxcom{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.usuario{
    width: 150px;
    margin: auto;
}
.usuario img{
    width: 150px;
    height: 150px;
    border:1px red solid;
    border-radius: 90px;
    border: 5px #49A6EA solid;
}
#btncomentarios{
    width: 20%;
    height: 30px;
    border:1px #49A6EA solid;
    color: #293A47;
}