*{
    padding: 0%;
    margin: 0%;
}
.container{
    width: 50%;
    height: 350px;
    margin: auto;
    margin-top: 100px;
    padding: 30px;
    display: flex;
    flex-direction: row;
}
.boxes{
    width: 50%;
    border:1px red solid;
}
#boxgreen{
    background-color:#00474B;
    border-radius: 10px;
    padding: 10px;
}
#total{
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    text-align:right;
    background-image: url('/Proyecto13/images/icon-dollar.svg');
    background-position: 10px 15px; 
    background-color: #F3F8FB;
    font-size: 16px;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    color: #00474B;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}


/* 
font-family: 'Space Mono', monospace; 
*/




