*{
    padding: 0%;
    margin: 0%;
}
#main{
    background-color: #E7EAED; 
    height: 625px; 
}
#box{
    border-radius: 10px;
    background-color: #fff;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
}
#boxform{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#btn{
    color: #fff;
    background-color: #1E3FFF;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    border: none;
    height: 45px;
    border-radius: 5px;
}
#dato{
    height: 40px;
    border-radius: 5px;
}
.item{
    width: 100%;
    height: 35px;
    margin-top: 10px;
    border: 2.5px #262626 solid;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.texto{
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #000;
}
.btn-red{
    font-family: 'Work Sans', sans-serif;
    font-weight: 400; 
    background-color: #DD5246;
    color: #fff;
    padding: 5px 8px;
    border-radius: 10px;
    border: none; 
}
.btn-complete{
    font-family: 'Work Sans', sans-serif;
    font-weight: 400; 
    background-color: #17A05D;
    color: #fff;
    padding: 5px 5px;
    border-radius: 10px;
    border: none; 
}
.alert-cuidado{
    color: #fff;
    width: 50%;
    font-family: 'Work Sans', sans-serif;
    background-color: #DD5246;
}
.alert-exito{
    color: #fff;
    width: 50%;
    font-family: 'Work Sans', sans-serif;
    background-color: #16A05D;
}
.alerta{
    margin-top: 5px;
    margin-bottom: 5px;
}