*{
    padding: 0%;
    margin: 0%;
}
.main{
    width:"100%";
    background-color: #3B4664;
    height: 625px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cont-cal{
    width: 25%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
#cal{
    font-family: 'Spartan', sans-serif;
    color: white;
    font-size: 25px;
}
#display{
    width: 100%;
    height: 100px;
    font-family: 'Spartan', sans-serif;
    margin-top: 10px;
    border:none;
    font-size: 32px;
    text-align: right;
    padding: 25px;
    box-sizing: border-box;
    
    background-color: #181F32;
    color: white;
    border-radius: 10px;
}
.base{
    width: 100%;
    height: 320px;
    margin-top: 20px;
    background-color: #181F32;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    
}
.btn{
    width: 60px;
    height: 45px;
    border-radius: 10px;
    text-align: center;
    border: none;
    color: #646570;
    font-size: 15px;
    font-family: 'Spartan', sans-serif;
}
.btn-num{
    width: 60px;
    height: 45px;
    border-radius: 10px;
    text-align: center;
    border: none;
    color: #646570;
    font-size: 15px;
    font-family: 'Spartan', sans-serif;
}
#delete{
    width: 60px;
    height: 45px;
    border-radius: 10px;
    border: none;
    background-color: #647299;
    color: white;
    font-family: 'Spartan', sans-serif;
}
.row{
    width: 100%;
    display: flex;
    margin-bottom: 10px;
    flex-direction: row;
    justify-content: space-around;
}
.rowf{
    width: 95%;
    margin-bottom: 10px;
}
#reset{
    width: 44%;
    height: 45px;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: #647299;
    font-weight: 700;
    font-family: 'Spartan', sans-serif;
    font-size: 12px;
    margin-left: 10px;
}
#igual{
    width: 100%;
    height: 45px;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: #D13F30;
    font-weight: 700;
    font-family: 'Spartan', sans-serif;
    font-size: 15px;
    margin-right: 10px; 
}